* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

/* / Common */

/* Main */
/* Menu laterale */

/* /Menu laterale */

/* Contenuto Principale */

/* / Contenuto Principale */

/* / Main */

/* Footer */

/* / Footer */