* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

/* Common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar,
.main-content {
    float: left;
}
/* / Common */

/* Main */


main {
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: hidden;
}
/* Menu laterale */
.sidebar {
    width: 250px;
    height: 100%;
    min-height: 480px;
    background-color: black;
    font-size: 16px;
    font-weight: 600;
    color: #a3a3a3;
}

@media screen and (max-width: 600px) {
    main .sidebar {
        width: 50px;
    }

    main .main-content {
        width: calc(100% - 50px);
    }

}

.sidebar h3 {
    color: white;
}

#logo {
    height: 50px;
    margin: 20px;
}

.menu-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 15px;
    border-left: 3px solid transparent;
}

.option img {
    height: 30px;
    margin-right: 5px;
    filter: contrast(30%);
}

.active {
    color: white;
    border-left: 3px solid #adff2f;
}
.active img {
    filter: none;
}

.option:hover {
    cursor: pointer;
    border-left: 3px solid #adff2f;
}

.side-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: calc(100% - 90px);
}

.playlist-create:hover,
.list .playlist-name:hover {
    cursor: pointer;
    color: white;
}

.playlist-create:hover .plus {
    background-color: white;
}

.all-playlist {
    width: 100%;
    overflow-y: hidden;
}

.playlist-create {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.playlist-create .plus {
    display: inline-block;
    color: black;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
    font-weight: 900;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #a3a3a3;
    margin-right: 5px;
}

.list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.playlist-name {
    font-size: 14px;
    padding: 10px;
}

.menage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 0 20px;
}

.menage-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.menage-option:first-child img {
    height: 25px;
    filter: contrast(30%);
    margin-right: 5px;
}

.menage-option:last-child img {
    height: 30px;
    background-color: #a3a3a3;
    border-radius: 50%;
    margin-right: 5px;
}

.menage-option:last-child p {
    color: white;
}

.menage-option:hover {
    cursor: pointer;
    color: white;
}

.menage-option:first-child:hover img {
    filter: none;
}


/* /Menu laterale */

/* Contenuto Principale */
.main-content {
    width: calc(100% - 250px);
    height: 100%;
}
/* / Contenuto Principale */

/* / Main */

/* Footer */
footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 100%;
    padding: 0 10px;
}

.footer-right {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    height: 100%;
}

.footer-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 100%;
}

.footer-song {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    color: #a3a3a3;
}

.song-info h3 {
    font-size: 16px;
    color: white;
}

.song-info p {
    font-size: 14px;
}

.footer-song img {
    height: 50%;
    margin-right: 10px;
}

.left-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-icons i {
    font-size: 20px;
    margin: 0 5px;
    color: #a3a3a3;
}

.left-icons i:hover {
    color: white;
    cursor: pointer;
}

/* -------- */

.player {
    display: flex;
    text-align: center;
    color: white;
    align-items: center;
}

.player i {
    font-size: 16px;
    margin: 0px 20px;
    cursor: pointer;
}

.player .play {
    font-size: 35px;
}

.player .play:hover {
    transform: scale(1.1);
}

.progression {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.progression .time {
    color: white;
    margin: 0px 10px;
    font-size: 10px;
}

.footer-player .bar {
    height: 5px;
    width: 80%;
    min-width: 150px;
    background-color: #c1c1c1;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.loaded {
    width: 20%;
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.bar:hover .loaded {
    background-color: limegreen;
}

.circle {
    display: none;
    position: absolute;
    left: 18%;
    top: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(0%, -50%);
    background-color: white;
}

.bar:hover .circle {
    display: block;
}


.footer-right i {
    color: white;
    margin: 10px;
    cursor: pointer;
}
.footer-right .progression {
    display: flex;
    width: 150px;
    margin-top: 0px;
    min-width: 100px;
}

.footer-right .bar {
    position: relative;
    width: 80%;
    height: 5px;
    border-radius: 5px;
    background-color: #c1c1c1;
    cursor: pointer;
}


/* / Footer */

/* Debug */
.debug .wrapper {
    background-color: lightblue;
}

.debug .wrapper .sidebar {
    border: 1px solid black;
}

.debug .wrapper .main-content {
    background-color: lightgreen;
    border: 1px solid green;
}

.debug .wrapper .menu-side {
    /* background-color: lightskyblue; */
    border: 1px solid blue;
}

.debug .wrapper .menu-side .option {
    border: 1px solid white;
}

.debug .wrapper .all-playlist {
    background-color: greenyellow;
    border: 1px solid yellow;
}

.debug .wrapper .menage {
    background-color: lightsteelblue;
    border: 1px solid yellow;
}

.debug .wrapper footer {
    background-color: lightcoral;
}

.debug .main-footer {
    background-color: thistle;
}

.debug .footer-left {
    background-color: turquoise;
}

.debug .footer-player {
    background-color: yellowgreen;
}

.debug .footer-right {
    background-color: lightskyblue;
}
/* / Debug */